@font-face {
    font-family: 'BebasMyBaby';
    src: url('fonts/BebasNeue_Regular_copy.ttf');}
@font-face {
    font-family: 'ThinBaby';
    src: url('fonts/BebasLightCopy.otf');}
body    {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 30;
    width: 100%;
    height: auto;
    margin: 0;
    background-color: rgba(38,61,62,1);}
a, p, li {
	color: #dae7e8;
}
h1, h2 {
	color: white;
}
/* PUSH MENU */
#menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 55%;
    height: 100%;
    padding: 50px 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
    text-align: center;
    background-color: #395655;}
#menu ul {
    padding: 0;
    margin-top: 5%;}
#menu ul li a {
    display: block;
    line-height: 2.1em;
	font-size: 1em;
    -webkit-transition: all .3s ease;
       -moz-transition: all .3s ease;
         -o-transition: all .3s ease;
            transition: all .3s ease;
    text-decoration: none;
    text-transform: uppercase;
	font-family: BebasMyBaby;
    color: white;
    border-bottom: 1px solid rgba(121, 238, 181, 0.75);}
#menu ul li:last-child a {
    border-bottom: none;}
#menu ul li a:hover {
    letter-spacing: 1px;}
body.open #menu {
	left: 0;}
/* MAIN PAGE */
.page-wrap {
    height: auto;
    width: 95%;
    padding: 2.5%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
	overflow: hidden;
	display: flex;
	flex-wrap: wrap;}
/* this may have to change to percentage equal to the menu bar */
body.open .page-wrap {
    margin-left: 55%;}

/* MENU TOGGLE ICON */

button:focus {
    outline: none;}
#menu-toggle {
    position: fixed;
	float: left;
    width: 51px;
    height: 51px;

    cursor: pointer;

    border: none;
    -webkit-border-radius: 50px;
       -moz-border-radius: 50px;
            border-radius: 50px;
    background: #fff;}
#menu-toggle:before,
#menu-toggle:after {
    position: absolute;

    content: "";
    content: "";
    -webkit-transition: all .5s ease;
       -moz-transition: all .5s ease;
         -o-transition: all .5s ease;
            transition: all .5s ease;

    background-color: #232629;}
#menu-toggle:before {
    top: 12px;
    left: 25px;

    width: 1px;
    height: 27px;}
#menu-toggle:after {
    top: 25px;
    left: 12px;
    width: 27px;
    height: 1px;}

/* CONTENT CONTAINER
    he put the words here.. */
.container {
    width: 90%; /* total width = 75% */
    height: auto;
    margin: 0% 5% 5% 10%;
    float: left;}
h1 {
	font-family: BebasMyBaby;
	font-size: 5em;
	text-align: center;
	margin-bottom: 5%;
    border-bottom: solid 1px white;}
ul {
	list-style: none;
	padding: 0}
ul li {
	font-family: ThinBaby;
	font-size: 1.8em;
	padding: 2% 0;
	text-align: center;
}
article {
	margin: 10% 0;
}
img {
	width: 70%;
	height: auto;
	margin-left: 15%;
	vertical-align: center;
}
article p {
	font-size: 1em;
}
form	{
	margin-top: 5%;
	margin-left: 20%;
	color: #dae7e8;
	font-size: 90%;}
input {
	width: 60%;
	margin-bottom: 2%;}
h2 {
	font-family: BebasMyBaby;
	font-size: 1.9em;
}
aside {
    width: 100%;
    height: auto;
	padding 10% 0 5% 0;
    float: left;
}
aside h2 {
	font-family: ThinBaby;
	font-size: 1.5em;
	text-align: center;
}