body    {
    font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
    width: 100%;
    height: auto;
    margin: 0;
    background-color: rgba(38,61,62,1);
	color: #dae7e8;}
a {
	color: #dae7e8;}
h1, h2, li {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;}
/* PUSH MENU */
#menu {
    position: fixed;
    width: 20%;
    height: 90%;
    padding: 5% 2.5%;
	float: left;
	/*
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;

    -webkit-transition: all .3s ease-in;
       -moz-transition: all .3s ease-in;
         -o-transition: all .3s ease-in;
            transition: all .3s ease-in;
    text-align: center;*/
    background-color: #314f4f;
    color: #dae7e8;
	overflow: auto;}
#menu:hover {
	color: white;
    background-color: #395655;
	transition: 1s;
}
#menu ul {
    padding: 0;
    height: 80%;
	padding: 10% 0;}
#menu ul li a {
    display: block;
    line-height: 1.8em;
    text-decoration: none;
    text-transform: uppercase;
	padding: 2.5% 0;
    color: white;
	font-weight: 300;}
#menu ul li:last-child a {
    border-bottom: none;}
#menu ul li a:hover {
    letter-spacing: 1px;}
#menu img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
    height: auto;}
/* MAIN PAGE */
.page-wrap {
    height: auto;
    width: 70%;
    padding: 0 2.5% 2.5% 2.5%;
	margin-left: 25%;}

/* Disable Button */
button{
	display: none;
}
header {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: 700;
	text-transform: uppercase;
	width: 100%;
	height: auto;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: .9em;
	color: rgb(251, 252, 255);}
.container {
	position: fixed;
    width: 50%; /* total width = 75% */
    height: 90%;
    margin: 5% 5% 5% 5%;
    float: left;
	overflow: auto;}
h1 {
	font-size: 8em;
	text-align: center;
	margin-bottom: 10%;
    color: white;
    border-bottom: solid 1px white;}
ul {
	list-style: none;
	padding: 0}
ul li {
	font-size: 1.8em;
	padding: 2% 0;
	text-align: center;
	font-weight: 300;
	text-transform: uppercase;
}
article {
	width: 100%;
	height: auto;
	margin-top: auto;
	float: center;}
#mhl-logo {
	width: 40%;
	height: auto;
	vertical-align: middle;
	margin-left: 30%;}
#home-article {
	width: 100%;
	height: 20%;
	margin-bottom: 5%;
	float: center;}
h3 {
	font-size: 1.2em;
	text-align: center;
	font-weight: 300;
	font-family: 'Open Sans Condensed', sans-serif;}
article p {
	font-size: 1em;
}
form	{
	margin-top: 5%;
	margin-left: 20%;
	color: #dae7e8;
	font-size: 90%;}
input {
	width: 60%;
	margin-bottom: 2%;}
h2 {
	font-size: 1.9em;
    color: white;
}
aside {
    width: 15%;
    height: 100%;
	padding-top: 30%;
    float: right;
	display: none;
}
aside h2 {
	font-size: 1.2em;
	text-align: center;
	font-weight: 300;
}