html, body {
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;
	height: 100%;
	background-color: rgba(38,61,62,1);
	color: #dae7e8;
	font-size: 80%;
}

a, a:hover {
	color: #FF5959;
}

h1, li {
	font-family: 'Open Sans Condensed', sans-serif;
	text-transform: uppercase;
}

h1 {
	font-size: 6em;
	padding-bottom: .1em;
}

h2 {
	font-size: 4em;
}

h3 {
	font-size: 2em;
}

p {
	padding-top: 1em;
	font-size: 2em;
}

form {
	padding-top: 2em;
}

div.error {
	color: #FF5959;
	font-size: 1.5em;
	padding-top: 0.3em;
}

ul.list {
	font-size: 1.8em;
	font-weight: bold;
	text-transform: uppercase;
}

.form-control:focus {
	border-color: #FF5959;
	box-shadow: 0 0 10px #FF5959;
}

.banner {
	height: 100%;
}

.banner img {
	width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header {
	font-family: 'Open Sans Condensed', sans-serif;
	font-weight: bold;
	text-transform: uppercase;
	width: 100%;
	padding: 0;
	margin: 0;
	text-align: center;
	font-size: 2em;
	color: white;
}

/* Toggle Styles */

#wrapper {
	height: 100%;
	padding-left: 50px;
	transition: all 0.5s ease;
}

#wrapper.toggled {
	padding-left: 250px;
}

#sidebar-wrapper {
	position: fixed;
	overflow-x: hidden;
	left: 250px;
	width: 50px;
	height: 100%;
	margin-left: -250px;
	margin-right: 5em;
	background: #314F4F;
	transition: all 0.5s ease;
	background-image: url("/img/marvin.png");
	background-repeat: no-repeat;
	background-size: 250px;
	background-position: bottom;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#menu-toggle {
	position: relative;
	float: right;
	width: 50px;
	height: 100%;
	color: white;
	background-image: linear-gradient(to left, #263D3E 0%, #314F4F 100%);
	transition: all 0.5s ease;
}

#menu-toggle i {
	font-size: 50px;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
}

#page-content-wrapper {
	height: 100%;
	padding-left: 2em;
	padding-right: 2em;
}

/* Sidebar Styles */

.sidebar-nav {
	position: absolute;
	top: 0;
	width: 210px;
	margin: 0;
	padding: 0;
	list-style: none;
	background: #314F4F;
}

.sidebar-nav li {
    line-height: 1.8em;
	text-align: center;
	font-size: 36px;
}

.sidebar-nav li a {
	display: block;
	text-decoration: none;
	color: #dae7e8;
}

.sidebar-nav li a:hover {
	text-decoration: none;
    background-color: #395655;
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
	text-decoration: none;
}

@media(min-width:768px) {
	body {
		font-size: 150%;
	}
	#wrapper {
		padding-left: 200px;
	}
	#page-content-wrapper {
		padding-right: 33%;
	}

	#sidebar-wrapper {
		width: 200px;
	}

	#wrapper.toggled #sidebar-wrapper {
		width: 200px;
	}

	#menu-toggle {
		visibility: hidden;
	}

	.sidebar-nav {
		width: 200px;
	}
}
