/* ****
  01 - Base
**** */
body {
  background: #EFEBE9;
  font-family: 'Roboto', sans-serif;
}
.container-fluid, .container {
  padding: 0;
  margin: auto;
}
#page-wrap {
	min-height: 90vh;
}
@media (min-width:768px){
  .container{width:auto;}
}
@media (min-width: 992px) {
  .container {
    max-width: 1200px;
    margin: auto;
		padding-top: 50px;
  }
}
hr {
  width: 80%;
  margin: 20px auto 20px auto;
}
/* 01 : Fonts */
p {
  font-size: 14px;
}
h1, h2 {
  font-weight: 300;
}
h3 {
  font-size: 24px;
}
ul {
  list-style: none;
}
/* 01 : helper classes */
.accent {
  color: #F1654C;
}
.big {
  font-size: 21px;
}
.clearfix {
  clear: both;
}
.no-padding {
  padding: 0;
}
.oswald {
  font-family: 'Oswald', sans-serif;
}
.thin {
	font-weight: 300;
}
.all-caps {
	text-transform: uppercase;
}
/* 01 : Buttons */
form button {
  background-color: #00B5B5;
  color: white;
}

/* ****
  02 - Layouts
**** */
section, #leftAside div {
  background: #fafafa;
  margin: 10px 0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.16), 0 1px 3px rgba(0,0,0,0.23);
  border-radius: 5px;
}
.top-bar {
  height: 50px;
  color: #F1654C;
  padding: 5px 10px;
  display: flex;
  align-items: center;
	position: fixed;
	width: 100%;
	z-index: 1;
}
.top-bar .top-bar-wrap {
	max-width: 1400px;
	margin: auto;
}
.top-bar p {
  font-size: 24px;
}
.top-bar .ticker-container {
	overflow: hidden;
	margin: auto;
}
.top-bar .ticker-container .ticker-text {
	white-space: nowrap;
	display: inline-block;
}
.top-bar .ticker-container .ticker-text p {
	color: #EFEBE9;
	font-size: 16px;
	margin-top: 5px;
}
.top-bar img {
  height: 35px;
  width: auto;
  float: right;
}
@media (max-width: 992px) {
  #leftAside {
    display: none;
  }
  .top-bar {
    display: none;
  }
  #page-wrap {
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  #mobile-nav {
    display: none
  }
	#unique {
		padding: 20px 60px;
	}
	#unique p:first-of-type {
		margin-bottom: 45px;
	}
	#unique h4 {
		margin-top: 25px;
		font-weight: 400;
	}
}
@media (max-width: 992px) {
	#unique {
		padding: 20px;
	}
	#unique p:first-of-type {
		margin-bottom: 15px;
	}
}
#unique#index  {
  padding: 0px;
}

/*	02 - Footer */
footer {
  background: #2E3135;
  color: white;
  padding: 15px 0;
	position: absolute;
}
footer .footer-container {
	max-width: 1200px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
footer #left, #right {
	max-width: 250px;
}
footer #left {
	max-width: 210px;
}
footer #top {
	width: 400px;
	display: flex;
}
footer #right img {
	width: 50px;
}
footer #right #top div {
	text-align: center;
	width: 180px;
	margin-left: 20px;
}
footer #right #top div hr {
	margin: 0 auto 10px auto;
	padding: 0;
}
footer #right ul {
	margin-top: 15px;
	padding-left: 0;
}
#marvin-home  {
	margin-top: 15px;
	max-height: 200px;
}
@media (max-width: 992px) {
	iframe {
		float: center;
	}
}
/* ****
  03 - Modules
**** */
/* Hide top-bar, show mobile-nav */
@media (max-width: 992px) {
	.top-bar {
		display: none;
	}
}
.navbar-fixed-top .container-fluid {
  padding: 2px 10px;
  height: 50px;
  background: #2E3135;
}
.navbar-header .navbar-brand {
  color: #F1654C;
}
.navbar .collapse ul li a {
  color: white;
	font-size: 16px;
	font-weight: 300;
}
.navbar .collapse ul li {
	height: 50px;
}
.navbar .collapse {
	background: #424549;
}
.navbar .collapse ul{
	background: #424549;
}
	/* Fix Mobile Nav Breakpoint Issue*/
@media (min-width: 768px)
{
    .navbar-header
    {
        float: none;
    }

    .navbar-toggle
    {
        display: block;
    }

    .navbar-collapse.collapse
    {
        display: none !important;
    }
}
	/* Navbar Animation */
.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.navbar-toggle .first-bar {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 10% 10%;
          transform-origin: 10% 10%;
}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 10% 90%;
          transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .first-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
          transform: rotate(0);
}

  /* Hovers */
.navbar .navbar-brand:hover{
  color: tomato;
}
.navbar .collapse ul li a:hover {
  color: tomato;
}

  /* Active */
.navbar .collapse ul li a:active {
  color: tomato;
}
#leftAside {
  background-color: none;
  padding: 0;
  margin-top: 10px;
}

#leftAside div{
  background-color: white;
  padding: 10px;
  margin: 15px 0;
}
#leftAside div h3 {
  margin-top: 0;
}
/* Navigation */
#leftAside nav a{
  display: block;
  font-size: 28px;
  background: #4B5F6B;
  padding: 10px 10px 10px 25px;
  border: solid 1px white;
  color: white;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-weight: 500;
	width: 100%;
}
#leftAside nav span {
	text-align: right;
}
#leftAside ul #home-button {
	background: #3E4651;
	padding-left: 10px;
}
/* Right Aside */
#rightAside {
  padding: 0;
}
#rightAside div {
	padding-bottom: 15px;
}
#rightAside h3 {
	margin-bottom: 15px;
}
#rightAside div p {
	margin: 5px auto 10px auto;
}
@media (min-width: 909px) and (max-width: 1200px) {
  #rightAside {
    float: left;
    margin-left: 20px;
  }
}
@media (max-width: 909px) {
	#rightAside {
		display: none;
	}
}

/* Right Aside Border Styles */
#rightAside div:nth-of-type(1) {
  border-top: 5px solid #F1654C;
}
#rightAside div:nth-of-type(2)  {
  border-top: 5px solid #3E4651;
}
#rightAside div:nth-of-type(3)  {
  border-top: 5px solid #00B5B5;
}

/* Right Aside "Servers" Styles*/
#rightAside div:nth-of-type(1) ul{
	padding-left: 0;
}
#rightAside div:nth-of-type(1) ul li {
	padding: 5px 8px;
}
#rightAside div:nth-of-type(1) .no-players {
	color: grey;
}
/* Announcements */
#announcement-wrapper strong{
  font-size: 18px;
  font-weight: 300;
}
#announcement-wrapper .text-muted {
  margin-top: 10px;
}
#announcement-wrapper h3 {
  margin-bottom: 15px;
}
#announcement-wrapper .announcement {
  margin: 15px 0;
}
/* Game Descriptions */
.game-description {
  padding-bottom: 15px;
}
@media (min-width: 992px) {
  .game-preview iframe {
    margin-top: 25px;
  }
}
.top-bar {
  background-color: #2E3135;
}

/* Registration Form */
#registration-form label {
  font-weight: 300;
}
#registration-form input.has-error {
  border-color: #F1654C;
}

/* Steam Api */
#unique #steam-api-login {
  max-width: 450px;
  height: 350px;
  margin: 50px auto;
  text-align: center;
  border-radius: 5px;
}
#unique #steam-api-login header {
  border-top: solid 6px tomato;
  padding: 10px;
}
#steam-api-login header h3 {
  font-weight: 300;
  font-size: 22px;
  margin-bottom: 0;
}
#steam-api-login header img {
  height: 50px;
  width: auto;
  margin-bottom: 0;
}
#steam-api-login .form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: auto;
}
#steam-api-login .form .input-wrap:first-of-type {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
#steam-api-login .form .input-wrap:last-of-type {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
#steam-api-login .form .input-wrap {
  width: 290px;
  padding: 10px 5px;
  display: flex;
  justify-content: space-around;
  align-content: baseline;
}
@media only screen and (max-width: 992px) {
	#steam-api-login {
		padding: 0;
	}
}
#steam-api-login .form .input-wrap img {
  width: auto;
  height: 18px;
  margin: auto;
  align-self: baseline;
}
#steam-api-login .form .input-wrap input {
  width: 250px;
  height: 20px;
  margin: 0;
  border: none;
  font-size: 14px;
  background: none;
  border-bottom: #d4d4d4 solid 1px;
}
#steam-api-login .form .input-wrap input:focus {
  outline: none;
  border-bottom: solid 2px lime;
}
#steam-api-login button {
  width: 150px;
  height: 30px;
  padding: 5px;
  margin: 10px auto auto auto;
  border-radius: 10px;
  background: #2E3135;
  border: none;
  color: white;
  font-size: 14px;
}
#steam-api-login p {
  font-size: 12px;
  margin-top: 45px;
  color: grey;
}
